<footer class="footer">
     <nav>
        <ul class="nav_1_footer">
            <a class="item_nav" href="https://adalab.es/">
                <li>Zapatillas</li>
            </a>
            <a class="item_nav" href="https://adalab.es/">
                <li>Ropa</li>
            </a>
            <a class="item_nav" href="https://adalab.es/">
                <li>Niño/a</li>
            </a>
            <a class="item_nav" href="https://adalab.es/">
                <li>Destacados</li>
            </a>
            <a class="item_nav" href="https://adalab.es/">
                <li>Tips</li>
            </a>
         </ul>
    </nav>

    <nav>
        <ul class="nav_2_footer">
            <a class="item_nav"href="https://adalab.es/">
                <li>Twiter</li>
            </a>
            <a class="item_nav" href="https://adalab.es/">
                <li>Instagram</li>
            </a>
            <a class="item_nav" href="https://adalab.es/">
                <li>Youtube</li>
            </a>
        </ul>
    </nav>

    <div class="nav_3_footer">
       <p>©2023</p> 
       <p>we ❤︎ run</p>
    </div>

</footer>