<main>
    <section class="section_1">
        <small class="text_1">Los sentimientos nos inspiran.</small>
        <h2 class="title_section_1">Conecta Contigo</h2>
        <p class="text_2">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>

        <a class="button_section_1" href="https://adalab.es/">Comprar</a>
    </section>

    <section id="seccion2" class="section_2">
        <h2 class="title_section_2">Año nuevo, movimientos nuevos</h2>

        <article class="article_1">
            <h3 class="title_article">Entrenamientos</h3>
            <p class="text_article">Sesiones de running y entrenamientos.</p>
        </article>
        
        <article class="article_2">
            <h3 class="title_article">Cualquier nivel</h3>
            <p class="text_article">Entrenamientos para cada nivel.</p>
        </article>
       
        <article class="article_3">
            <h3 class="title_article">Exclusividad</h3>
            <p class="text_article">Productos para miembros premium.</p>
        </article>
    </section>
    <div class="section_button">
    <a class="button_section_2" href="https://adalab.es/">Empezar ahora</a></div>
        
    
</main>