@charset "UTF-8";
/*@import 'core/variables';
@import 'components/code';
@import 'components/links';
@import 'pages/index';*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

/*
$--colorname: $--black;
$--colorh2: $--blue-green;
$--colorlogos: $--blue-green;
$--colorpuntos: $--gunmetal;
$--colorbackground1: $--white;
$--colorbordebox: $--black-8;*/
.hero {
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; }
  .hero .img_nav {
    background-color: #f26002;
    position: fixed;
    background-image: url(../images/ico-menu.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 3.7rem;
    height: 3.4rem; }
  .hero .title_header {
    font-family: "Roboto Slab", sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #292828;
    text-align: center;
    font-size: 9.4vw;
    line-height: 15.7vw;
    padding-top: 31.4rem; }
    @media (min-width: 768px) {
      .hero .title_header {
        font-size: 7.5rem; } }
    @media (min-width: 1200px) {
      .hero .title_header {
        font-size: 10rem; } }
  .hero .title_header_2 {
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 5vw;
    padding: 0 16px 0 16px;
    line-height: 5.9vw; }
  .hero .button_header {
    background-color: #fff;
    background-image: url(../images/ico-scroll-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 3.7rem; }

/* "Conecta contigo" section starts*/
.section_1 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 10%;
  width: 95vw; }
  .section_1 .text_1 {
    padding-top: 5vh;
    padding-bottom: 1.6vh;
    color: #f26002;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: lighter; }
  .section_1 .title_section_1 {
    font-size: 2.0rem;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    padding-bottom: 15px; }
  .section_1 .text_2 {
    color: #4a4a4a;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    font-weight: lighter;
    width: auto;
    line-height: 30px;
    padding-bottom: 5%; }
  .section_1 .button_section_1 {
    color: #f26002;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: medium;
    text-decoration: none;
    border: solid 2px;
    border-radius: 22px;
    text-align: center;
    padding: 10px 11px;
    width: 160px; }

/* "Año nuevo" section starts */
.section_2 {
  background-color: #f2f2f2;
  color: #000000;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; }
  .section_2 .title_section_2 {
    display: grid;
    font-family: "Roboto Slab", sans-serif;
    padding-top: 30px;
    margin-bottom: 4rem;
    margin-left: 6.6rem;
    margin-right: 6.6rem;
    font-weight: bolder;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    grid-column: 1/4; }
  .section_2 .article_1 {
    grid-column: 1/4; }
    .section_2 .article_1 .title_article {
      font-family: "Roboto Slab", sans-serif;
      font-weight: bolder;
      font-size: 1.8rem;
      text-align: center; }
    .section_2 .article_1 .text_article {
      text-align: center;
      font-size: 1.8rem;
      font-family: "Roboto", sans-serif;
      margin-left: 6.6rem;
      margin-right: 6.6rem;
      font-weight: lighter;
      line-height: 3rem; }
  .section_2 .article_2 {
    display: grid;
    justify-content: center;
    grid-column: 1/4; }
    .section_2 .article_2 .title_article {
      font-family: "Roboto Slab", sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center; }
    .section_2 .article_2 .text_article {
      text-align: center;
      font-size: 1.8rem;
      font-family: "Roboto", sans-serif;
      margin-left: 6.6rem;
      margin-right: 6.6rem;
      font-weight: lighter;
      line-height: 3rem; }
  .section_2 .article_3 {
    justify-content: center;
    grid-column: 1/4;
    gap: 10px; }
    .section_2 .article_3 .title_article {
      font-family: "Roboto Slab", sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center; }
    .section_2 .article_3 .text_article {
      text-align: center;
      font-size: 1.8rem;
      font-family: "Roboto", sans-serif;
      margin-left: 6.6rem;
      margin-right: 6.6rem;
      font-weight: lighter;
      line-height: 3rem; }
  .section_2 .button_section_2 {
    background-color: #f26002;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: #fff;
    grid-column: 2/3;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 22.5px;
    padding: 12px 22.5px 12px 22.5px;
    margin-top: 27px;
    margin-bottom: 50px;
    width: 14rem; }

@media (min-width: 768px) {
  .section_2 .article_1 {
    grid-column: 1/2; }
  .section_2 .article_2 {
    grid-column: 2/3; }
  .section_2 .article_3 {
    grid-column: 3/4; } }

.footer {
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }
  .footer .nav_1_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    gap: 5px;
    text-transform: uppercase; }
  .footer .item_nav {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", sans-serif; }
  .footer .nav_2_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    gap: 5px;
    text-transform: uppercase; }
  .footer .nav_3_footer {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Roboto", sans-serif;
    gap: 3px;
    margin: 10px 10px; }

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; }
  .nav_3_footer {
    order: -1; } }

/*# sourceMappingURL=main.css.map */
