.hero {
    background-image: url(../images/cover.jpeg);
    background-size: 200%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .img_nav {
        background-color: orange;
        
    }
}

