.hero {
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;

    .img_nav {
        background-color: $orange;
        position: fixed;
        background-image: url(../images/ico-menu.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 3.7rem;
        height: 3.4rem;

        @media (min-width: 768px){
            width: 4.2rem;
            height: 4.4rem;
        }
    }

    .title_header {
        font-family: $h1title;
        color: $white;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgb(41, 40, 40);
        text-align: center;
        font-size: 3rem;
        line-height: 5rem;
        padding-top: 34rem;

        @media (min-width: 768px) {
            font-size: 7.5rem;
            line-height: 10rem;
        }
        @media (min-width: 1200px){
            font-size: 10rem;
        }
    }

    
    .title_header_2 {
        text-align: center;
        color: $white;
        font-family: $h2title;
        font-weight: lighter;
        font-size: 1.6rem;
        padding: 0 16px 0 16px;
        line-height: 1.9rem;
        overflow: visible;

        @media (min-width: 768px) {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }

    }
    

    .button_header {
        background-color: $white;
        background-image: url(../images/ico-scroll-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        align-self: center;
        margin-top: 1.5rem;
        margin-bottom: 3.7rem;

    @media (min-width: 768px) {
            width: 4.5rem;
            height: 4.5rem;
            margin-bottom: 4.5rem;
        }
    
    @media (min-width: 1200px) {
        margin-bottom: 5rem;
    }

}

}

