.section_1{
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 10%;
    width: 95vw;

    .text_1 {
        padding-top: 5vh;
        padding-bottom: 1.6vh;
        color: $orange;
        font-size: 1.2rem;
        font-family: $h2title;
        font-weight: lighter;
    }

    .title_section_1 {
        font-size: 2.0rem;
        font-family: $h1title;
        font-weight: bold;
        padding-bottom: 15px;
    }

    .text_2 {
        color: $dark--grey;
        font-family: $h2title; 
        font-size: 1.7rem;
        font-weight: lighter;
        width: auto;
        line-height: 30px;
        padding-bottom: 5%;
    }

    .button_section_1 {
        color: $orange;
        font-size: 2rem;
        font-family: $h2title;
        font-weight: medium;
        text-decoration: none;
        border: solid 2px;
        border-radius: 22px;
        text-align: center;
        padding: 10px 11px;
        width: 160px;
    }

}

.section_2 {
    background-color: $light-grey;
    color: $black;
    display: grid;
    grid-template-columns: (1fr 1fr 1fr);
    width: 100vw;
    text-align: center;

    .title_section_2 {
        font-family: $h1title;
        font-size: 2rem;
        grid-column: 1/4;
        justify-items: center;
        
    }
    
    .articles_section_2 {
        grid-column: 1/4;
        .title_article {
            font-family: $h1title;
            font-weight: bold;
            font-size: 1.8rem;
        }
    }

    .button_section_2 {
        grid-column: 1/4;
        color: $white;
        background-color: $orange;
        text-decoration: none;
        font-size: 2rem;
        font-family: $h2title;
        border-radius: 22px;
        text-align: center;
        align-self: center;
        padding: 10px 11px;
        width: 60%;
        
    }
}

